* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  /* justify-content: center; */
  align-items: start;

  height: 100vh;
  background-color: #f0f2f5;
  
}

.tagline-container {
  border: none;
}

.form-container {
  /* background-color: blue; */
  /* border: solid 1px; */
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}

.facebook-logo {
  height: 100px;
  width: 100px;
}


